APP_PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:3000,https://task-management-system-87qtoceb6-vishals-projects-0126f618.vercel.app

MONGODB_URI=mongodb://127.0.0.1:27017/ag_assignment
MONGODB_USE_MEMORY=false
